@model IDictionary<ppedv.Zeus.Model.Drucker, ppedv.Zeus.Model.I3dDrucker>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>

        <th>
            Hersteller
        </th>
        <th>
         Model
        </th>
        <th>
            MaxX
        </th>
        <th>
            MaxY
        </th>
        <th>
         MaxZ
        </th>
        <th>
           Schnittstelle
        </th>
        <th>
          Speed
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Key.Hersteller)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Key.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Key.MaxX)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Key.MaxY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Key.MaxZ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Key.Schnittstelle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Key.Speed)
        </td>
        <td>
            @item.Value.Status
            @Html.ActionLink("Start", "StartPrinter", new { id = item.Key.Id }) |

        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Key.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Key.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Key.Id })
        </td>
    </tr>
}

</table>
